@media screen and ( max-width: 1200px )
  html
      font-size: 12px
  .nav
    &__item
      margin-right: 1rem  
@media screen and ( max-width: 1120px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      color: $light 
      margin-right: 0
      text-decoration: none
      font-size: 1rem  
    &__button
      display: none
  .title
    font-size: 1.64rem
    max-width: 22.86rem
  .hero
    &__scroll-down
      display: none
    &__content
      width: 100%
    &__text
      display: block
      width: 100%
      font-size: 1.29rem  
      margin-bottom: 2.28rem
    &__button
      display: block
      width: 100%
      max-width: 100%
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-height: 680px )  
  .hero
    &__scroll-down
      display: none
