.types
  &__section-title
    margin-bottom: 2.4rem
    margin: 0 auto
.row
  width: 85.3%
  max-width: 1232px
  display: flex
  align-items: flex-start
  justify-content: space-between
  .col
    flex-basis: 32%
  .card
    width: 390px
    height: 48.2rem
    &__text
      position: relative
      height: 20.3rem
      max-width: 23.5rem
      margin: 0 auto
      margin-top: -9.3rem
      padding: 0.5rem 2.25rem
      background-color: $light
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
      &--minimal
        height: 15rem
      &--full
        height: 29.3rem
    &__title
      margin-bottom: 7px
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      line-height: 25px
      font-size: 18px
      // margin-bottom: 11.9px 
    &__list
      padding: 0 0 0 1.2rem
      margin: 0
      font-size: 1.07rem
      line-height: 1.79rem
      color: $secondary
      margin-bottom: 2.4rem
    &__pricetag
      position: absolute
      left: 0
      bottom: -2.3rem
      font-size: 1.4rem
      font-family: Yeseva One
      font-style: normal
      font-size: 18px
      line-height: 25px
      text-transform: uppercase
      background-color: $primary
      color: $light
      padding: 1.13rem 2.8rem
      &--minimal
        padding: 1.13rem 5.6rem
        padding-left: 34px
      &--standart
        padding: 1.13rem 5.6rem
        padding-left: 34px
      &--full
        padding: 1.05rem 4.3em
        padding-left: 34px
    &__image
      width: 390px
      height: 420px
    &__item
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 22.2px
      margin-bottom: 3.4px
@media screen and ( max-width: 760px )  
  .row
    flex-direction: column
    align-items: flex-start
  .card
      margin-bottom: 8rem




