.types
  &__section-title
    margin-bottom: 2.4rem
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
  .col
    flex-basis: 32%
  .card
    width: 31.3rem
    height: 48.2rem
    margin: 0 auto
    &__text
      position: relative
      height: 22.75rem
      width: 26.1rem
      margin: 0 auto
      margin-top: -10.3rem
      padding: 0.6rem 2.5rem
      background-color: $light
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
    &__title
      font-family: 'Yeseva One', cursive
      font-style: normal
      font-weight: normal
      line-height: 1.42rem
      font-size: 1.44rem
      margin-bottom: 11.5px
    &__list
      padding: 0 0 0 1.2rem
      margin: 0
      font-size: 1.07rem
      line-height: 1.79rem
      color: $secondary
      margin-bottom: 2.4rem
    &__pricetag
      position: absolute
      left: 0
      bottom: -2.2rem
      font-size: 1.4rem
      font-family: Yeseva One
      font-style: normal
      font-weight: bold
      text-transform: uppercase
      background-color: $primary
      color: $light
      padding: 1.43rem 3.08rem
    &__image
      width: 437px
      height: 467px
    &__item
      font-family: FuturaBookC
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 25px
      margin-bottom: 3.1px
@media screen and ( max-width: 760px )  
  .row
    flex-direction: column
    align-items: flex-start
  .card
      margin-bottom: 8rem




